<h3>Chamber Details</h3>
<h2>@chamber.name</h2>
<h1>@chamber.address</h2>
<table border>
  <tr>
    <th>Doctor Name</th>
    <th>Specialism</th>
  </tr>
  <tr>
    <td><%= @chamber.doctor.name %></td>
    <td><%= @chamber.doctor.address %></td>
  </tr>
</table>