<h1>New Patient</h1>
<form action="/patient" accept-charset="UTF-8" method="post">
    <input type="hidden" name="authenticity_token" value="...">

    <div>
        <label for="patient_patient_name">Patient Name</label><br>
        <input type="text" name="patient[patient_name]" id="patient_patient_name">
    </div>

    <div>
        <label for="patient_phone_number">Contact</label><br>
        <input type='text' name="patient[phone_number]" id="patient_phone_number"></input>
    </div>

    <div>
        <label for="patient_email_id">E-mail ID</label><br>
        <input type='text' name="patient[email_id]" id="patient_email_id"></input>
    </div>

    <div>
        <input type="submit" name="commit" value="Add New Patient" data-disable-with="Create Patient">
    </div>
    
    <div>
        <%= link_to "Go Back", patient_index_path%>
    </div>
</form>